[alias]
    a = add -A :/
    ba = !git branch | ag
    bc = !git branch | sed -n '/^*/s/^* //gp'
    bl = !git for-each-ref refs/heads refs/remotes/origin --color=always --format='%(HEAD) %(color:red)%(refname:short)%(color:reset)^%(color:yellow)%(objectname:short)%(color:reset)^%(color:green)(%(committerdate:local))%(color:reset)^%(authoremail)^%(contents:subject)' | column -t -s '^'
    br = branch
    bv = branch -avv
    cm = commit -am
    co = checkout
    df = diff --color --ignore-space-change
    dn = diff --name-only
    dt = difftool --ignore-space-change
    la = !git log --oneline | ack -i
    lc = log ORIG_HEAD.. --stat --no-merges
    la = log --pretty=format:'%C(yellow bold)%h%Creset %C(green bold)(%cd)%Creset <%ae> %s' --date=local --no-merges --since='1 month ago'
    lg = log --pretty=format:'%C(yellow bold)%h%Creset %s %C(green bold)(%cr)%Creset %an <%ae>' --graph
    ll = log --pretty=format:'%C(yellow bold)%h%Creset %C(green bold)(%cd)%Creset <%ae> %s' --author="moeller|icebox" --date=local --no-merges --since='1 month ago'
    ph = push heroku
    pl = pull
    po = push origin
    pot = !git push origin && git push origin --tags
    ra = commit --amend --reset-author
    rpo = remote prune origin
    rv = remote -v
    sh = stash
    sha = stash apply
    shl = stash list
    shp = stash pop
    shs = !sh -c 'git show stash@{$1}' -
    ss = status -s
    st = status
    sw = show --ignore-space-change
    ue = config user.email
    up = !git pull && git submodule update --init --recursive
    wc = whatchanged
[color]
    ui = auto
[core]
    excludesfile = .gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
    helper = cache --timeout=72000
    useHttpPath = true
[diff]
    tool = vimdiff
[grep]
	extendedRegexp = true
[pager]
    difftool =
[push]
    default = simple
[svn]
    rmdir = true
[user]
    name = Shannon Moeller
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
