[alias]
    a = add -A :/
    ba = !git branch | ag
    bc = !git branch | sed -n '/^*/s/^* //gp'
    bl = !git branch -avv --color=always --format='%(HEAD) %(if)%(HEAD)%(then)%(color:green)%(end)%(if)%(upstream:remoteref)%(then)%(else)%(color:red)%(end)%(refname:short)%(color:reset)^%(color:yellow)%(objectname:short)%(color:reset)^%(color:green)(%(committerdate:local))%(color:reset)^%(authoremail)^%(if)%(upstream)%(then)[%(color:blue)%(upstream:short)%(color:reset): %(upstream:track,nobracket)]%(else) %(end)^%(contents:subject)' | column -t -s '^'
    br = branch
    bv = branch -avv
    cm = commit -am
    co = checkout
    df = diff --color --ignore-space-change
    dh = diff --color --ignore-space-change HEAD
    dn = diff --name-only
    dt = difftool --ignore-space-change
    la = log --pretty=format:'%C(yellow bold)%h%Creset %C(green bold)(%cd)%Creset <%ae> %s' --date=local --no-merges -20
    laa = log --pretty=format:'%C(yellow bold)%h%Creset %C(green bold)(%cd)%Creset <%ae> %s' --date=local --no-merges
    lg = log --pretty=format:'%C(yellow bold)%h%Creset %s %C(green bold)(%cr)%Creset %an <%ae>' --graph
    ll = log --pretty=format:'%C(yellow bold)%h%Creset %C(green bold)(%cd)%Creset <%ae> %s' --author="moeller|icebox" --date=local --no-merges -20
    lll = log --pretty=format:'%C(yellow bold)%h%Creset %C(green bold)(%cd)%Creset <%ae> %s' --author="moeller|icebox" --date=local --no-merges
    pl = pull
    ps = push
    po = push origin
    pot = !git push origin && git push origin --tags
    ra = commit --amend --reset-author
    rc = rebase --continue
    rhh = reset --hard HEAD
    rpo = remote prune origin
    rv = remote -v
    sh = stash
    sha = stash apply
    shl = stash list
    shp = stash pop
    shs = !sh -c 'git show stash@{$1}' -
    ss = status -s
    st = status
    sw = show --ignore-space-change
    ue = config user.email
    up = !git pull && git submodule update --init --recursive
    wc = whatchanged
[color]
    ui = auto
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[core]
    excludesfile = .gitignore
    ignorecase = false
    pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
    tool = vimdiff
[fetch]
    prune = true
[grep]
    extendedRegexp = true
[log]
    date = iso-local
[pager]
    difftool =
[pull]
    rebase = false
[push]
    default = simple
[svn]
    rmdir = true
[user]
    name = Shannon Moeller
    email = me@shannonmoeller.com
[include]
    path = ~/.gitconfig_corp
